body {
    margin: 0px;
}

@media only screen and (min-width: 800px) {
    body {
        background: url(./images/background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (min-width: 729px) and (max-width: 799px) {
    body {
        background: url(./images/background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #contain {
        height: 600px;
    }
}

@media only screen and (max-width: 729px) {
    body {
        background: url(./images/mobileBackground.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

h1 {
    text-align: center;
    color: #14520b;
}

li {
    list-style-type: none;
    float: left;
}

ul {
    clear: both;
}


a {
    color: #A8D06D;
}

a:hover {
    color: while;
}

button:hover {
    cursor: pointer;
}

.controls {
    text-align: center;
}

#app {
    height: 100%;
}

button {
    padding: 5px;
    color: #27530c;
    background-color: #f0f0f0;
    border-style: solid;
    border-color: #27530c;
    border-width: 1px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container {
    height: 100%;
}

#outerContainer {
    height: 100%;
}

#contain {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
}

#item {
    width: 100px;
    height: 100px;
    touch-action: none;
    user-select: none;
}

#item:active {}

#item:hover {
    cursor: pointer;
    border-width: 20px;
}

#footer {
    font-size: 13px;
    text-align: center;
    width: 98%;
    padding: 10px 1%;
    margin: 0px;
    background: #28681E;
    color: #A8D06D;
}

.flower {
    width: 100%
}
